/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/*5种背景颜色*/
.bg-color1 {
  background: #651d1c;
}

.bg-color2 {
  background: #ffffff;
}

.bg-color3 {
  background: #c8e2ca;
}

.bg-color4 {
  background: #247BA0;
}

.bg-color4 {
  background: #ffffff;
}

.bg-color5 {
  background: #70C1B3;
}


.bg-color6 {
  background: #f5f5f5;
}


/*navbar导航栏*/
.navbar-wrap {
  width: 100%; /*铺满屏幕*/
  top: 21.5px;
  background: #17181c; /*背景颜色*/
  font-size: 15px; /*字体12px*/
  font-weight: bold;
  font-family: 'Elliot', 宋体, 华文细黑, STXihei, sans-serif;
  letter-spacing: 1.8px;
  line-height: 65px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  height: 65px; /*设置高度*/

  color: #353535; /*字体颜色*/

}
.navbar {
  width: 944px; /*设置导航栏宽度1200*/
  margin: 0 auto; /*水平居中*/
}

.navbar-left {
  float: left; /*你去左边*/
  padding-left: 10px; /*左边加点空间，不然太挤啦*/
}

.navbar-list li {
  float: right; /*你去右边*/
  display: inline;/*去掉li的"."*/
}


.navbar-listItem {
  float: left; /*li是block元素，我们知道block元素是会独占一行的，如果要让它们在一行，那就要加上float*/
  padding-left: 5px; /*左边加点空间，不然太挤啦*/
  padding-right: 10px; /*右边加点空间，不然太挤啦*/
}

.navbar-spacer {
  float: left; /*同样的，你也要float*/
  width: 20px; /*宽度为1，就可以拿到当分隔符用了，哈哈*/
  height: 12px; /*12px差不多，刚刚好*/
  margin-top: 9px; /*调一下上边距*/
  background: #17181c; /*分隔符的背景颜色*/
}

.navbar-wrap a {
  color: #717171; /*文字的颜色*/
  text-decoration: none; /*不要下划线啦，好丑*/
}
.navbar-wrap a:hover {
  color: white ; /*鼠标一上去的时候，字体变成红色*/
}

.navbar-brand > img {
   display: inline-block; //图片和链接文字显示在同一行
   margin-right: 10px; //图片和链接文字拉开一点距离
   height: 45px;
   line-height: 15px;

  }


/*主体页面*/
.body {
  width: 100%; /*铺满屏幕*/
  background: #f4f4f4;

}

/*头部*/
.header {
  width: 970px;
  margin: 20px auto;
}

.headerContent {
  height: 60px;
}

.headerContent-item {
  height: 60px;
}

.headerContent-item1 {
  float: left;
  width: 180px;
  margin-right: 180px;
  margin-top: -25px
}

.headerContent-item2 {
  float: left;
  width: 400px;
}

.headerContent-item3 {
float: right;
width: 300px;
margin-top: -60px


}

.headerContent-item3 :hover {
color: #C81623; /*鼠标一上去的时候，字体变成红色*/
background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明

}
.headerContent-item3-1 {
float: left;
width: 300px;

}
/*菜单*/
.menu {
  width: 100%;

}

.menuList {
  width: 970px;

  margin: 20px auto;
  height: 42px;
  line-height: 42px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  padding-left: 20px; /*左边加点空间，不然太挤啦*/
  font-size: 16px; /*字体12px*/
  font-family: "Microsoft Yahei", "微软雅黑";
  background-color: #651d1c;
  color: #ffffff;

}

.menuList a {

  color: #ffffff;
}

.menuList-item li {
  float: left;
  width: 108px;
  height: 42px;
  display: inline;
  text-align: center;
}

.active {
  width: 100px

}



.menuList-item :hover,
.menuList-item :visited {
  background-color: #c16968; //鼠标放置在链接上的背景颜色
  text-decoration: none; /*不要下划线啦，好丑*/
}


/*头图*/
.carousel {
  // background-image:url('header.jpg');
  margin: 20px auto;
  width: 970px;
  height: 400px;
  overflow: hidden;
}

/*排序*/


.orderList {
  margin: 20px auto;
  width: 970px;
  overflow: hidden;
  background-color: #ffffff;
  border:1px solid #c1b8b8

}

.orderList li {

  display: inline;
}

.orderList-item {
  float: left;
  width: 108px;
  height: 42px;
  line-height: 42px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  text-align: center;

  color: #ffffff;
  font-size: 16px; /*字体12px*/
  font-family: "Microsoft Yahei", "微软雅黑";
}

.orderList-item a {
  color: #000000;

}

.orderList-item a:hover{
  color: #651d1c;

}

/*商品列表*/
.productList {
  margin: 20px auto;
  width: 970px;
  overflow: hidden;

}

.productList-item {
  // float: left;
  width: 228px;
  height: 280px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #ffffff; /*背景颜色*/
  border:1px solid #c1b8b8
}

.productlist-item-a {
  font-size: 16px;
  color: #d32048;
}

.productList-lastItem {
  margin-right: 0;
}




/* footer */

footer {
    position:absolute;
    width:100%;
    height: 100px;
    background-color: #17181c;
  p {
    font-size: 12px;
    color: #ffffff;
    padding-top: 10px;
  }



}


html {
  height:100%;
}
body {
  min-height:100%;
  margin:0;
  padding:0;
  overflow-x: hidden; //根据langdingpage模板加的
  position:relative;
//   /*===== 基础栏位设定 ======*/
//   .width-25 {
//     width: 25%;
//   }
//
//   .width-50 {
//     width: 50%;
//   }
//
//   .width-75 {
//     width: 75%;
//   }
//
//   .width-100 {
//     width: 100%;
//   }
// }
//
// }

.main {
  margin-bottom:100px;
  }/* main的padding-bottom值要等于或大于footer的height值 */


/* 搜索框 */

#search-id {
  width: 200px;
  // padding-top: 7px;
  // margin-left: 500px
  text-align: center;
  height: 65px;
  line-height: 65px;
}

.form-control {
  margin-top: 15px;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

  }
.btn {
  background: #ffffff;


}

.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #c16968;
  font-size: 20px;
  text-align: center;
}

.products-show0 {
  border-bottom: 1px dotted #CCC;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}
.product-table {
  margin-left: 15px;
  margin-right: 15px;
}

.products-show {
  border-bottom: 1px dotted #CCC;
  padding: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}

////-----show.image----///
.image-1 {
  width: 420px;
  height: 420px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: inline-flex;
}


div.zoomDiv {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  display: none;
  text-align: center;
  overflow: hidden;
}

div.zoomMask {
  position: absolute;
  background: url("/images/mask.png") repeat scroll 0 0 transparent;
  cursor: move;
  z-index: 1;
}

.box {
  width: 930px;
  height: 600px;
  //margin:100px 0 0 0;
  display: inline-block;
  //padding-top: 14px;
}
/*-------------商品图片----------*/
.wrap-left {
  width: 50%;
  float: left;
}

.tb-booth {
  width: 420px;
  height: 420px;
  border: 1px solid #f2f2f2;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 22.5px;
}

.tb-s310 a,
.tb-s40 a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  //border:1px solid #C30008;
}

.tb-thumb {
  margin: 22px 22.5px 0;
  width: 420px;
  text-align: center;
}

.tb-thumb ul {
  width: 420px;
  padding: 0;
  float: left;
}

.tb-thumb li {
  list-style-type: none;
  display: inline-block;
  height: 60px;
  margin: 0 6px;
  overflow: hidden;
}

.tb-thumb li:hover {
  border: 1px solid #C30008;
}

.tb-s310 a {
  height: 418px;
  width: 418px;
}

.tb-s310 img {
  max-height: 418px;
  max-width: 418px;
}

.tb-s40 a img {
  height: 60px;
  width: 60px;
}

.tb-booth .zoomIcon {
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  width: 30px;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  opacity: 0.6;
  color: #333;
  font-size: 18px;
  right: 0;
  bottom: 0;
}


.product-favorite {
  width: 420px;
  height: 20px;
  position: relative;
  display: inline-block;
  margin: 20px;
}

.product-favorite-item1 {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: #3d72a0;
}

.product-favorite-item2 {
  float: right;
  width: 50%;
  text-align: center;
  position: relative;
  font-size: 14px;
}

/*-------------商品价格购买加入----------*/
.wrap-right {
  padding: 0 10px;
  float: left;
  color: #666;
  width: 50%;
  //border: 1px solid #f2f2f2;
}

.wrap-right h1 {
  //margin: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.summary-price-wrap {
  margin-top: 15px;
  width: 100%;
  background-color: #f3f3f3;
}

.summary-sale {
  padding: 5px 0;
}

.summary-sale .dt {
  line-height: 35px;
  display: flex;
  padding-left: 15px;

}

.summary-sale .dd {
  line-height: 35px;
  display: flex;
  padding-left: 15px;
}

.summary-sale .price {
  color: #c40000;
  font-size: 34px;
  font-weight: bolder;
  font-family: Arial;
}
.summary-sale .price-o {
    font-size: 34px;
    font-size: 24px;
    color: #999;
    text-decoration: line-through;
}


.summary-sale .comment {
  float: right;
  padding: 0 10px 0 0;
  text-align: center;
  color: #999;
}

.summary-sale .comment p {
  line-height: 15px;
  margin: 5px 0 0;
  font-size: 12px;
}

.summary-sale .comment a:hover {
  color: #E4393C;
  text-decoration: none;
}


.tm-ind-panel ul {
  border: 1px dotted #c9c9c9;
  border-width: 1px 0;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  clear: both;
  display: flex;
  list-style-type: none;
}

.tm-ind-panel li {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  left: -1px;
  border-left: 1px solid #e5dfda;
  flex: 1;
  line-height: 16px;
}

.tm-ind-panel .tm-label {
  display: inline-block;
  line-height: 16px;
  color: #999;
}

.tm-ind-panel .tm-count {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: #c40000;
  font-weight: 700;
  margin-left: 3px;
}

.tb-key {
  margin: 0 20px 24px 10px;
}

.tb-skin {
  padding: 10px 0;
}

.tb-sku {
  padding: 5px 0 12px;
  position: relative;
}

.tb-amount dd {
  height: 35px;
  line-height: 31px;
  color: #878787;
}

.tb-metatit,
.tb-metatit a {
  color: #999;
}

.tb-key .tb-metatit a,
.tb-key .tb-metatit a:visited {
  color: #816957;
}

.tb-metatit {
  text-align: left;
  float: left;
  width: 50px;
}

.tb-key .tb-metatit {
  color: #838383;
}

.tb-amount .tb-metatit {
  margin-top: 6px;
}

.tb-text {
  font-size: 12px;
  margin: 0;
  height: 36px;
  border: 1px solid #a7a6ac;
  width: 43px;
  background-position: -406px -41px;
  color: #666;
}

.tb-text {
  padding: 2px;
  line-height: 26px;
}


  .tb-amount-widget .mui-amount-btn {
  display: inline-block;
  vertical-align: middle;
}

.tb-amount-widget .mui-amount-decrease,
.tb-amount-widget .mui-amount-increase {
  width: 16px;
  height: 16px;
  overflow: hidden;
  border: 1px solid #a7a6ab;
  display: block;
  line-height: 12px;
  font-size: 16px;
  cursor: pointer;
  padding-left: 2px;
}

.tb-amount-widget .mui-amount-increase {
  margin-bottom: 3px;
  padding-top: -2px;
}

.tb-action {
  clear: both;
  padding: 10px 0 0 50px;
  margin: 10px 0 0;
}

.tb-btn-buy {
  margin-right: 10px;
  float: left;
}

.tb-btn-buy a {
  margin-right: 0;
  float: left;
  overflow: hidden;
  position: relative;
  width: 168px;
  background-color: #ffeded;
  border: 1px solid #c40000;
  color: #c40000;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.tb-btn-basket {
  margin-right: 1px;
}

.tb-btn-basket a {
  margin-right: 0;
  float: left;
  overflow: hidden;
  position: relative;
  width: 168px;
  background-color: #c40000;
  border: 1px solid #c40000;
  color: #fff;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.tm-ser {
  margin: 60px 0 20px;
  padding-bottom: 20px;
  position: relative;
  font-size: 12PX;
}

.tm-ser dl {
  margin-right: 67px;
}

.tm-ser dl dt {
  text-align: left;
  float: left;
  width: 66px;
  color: #999;
  margin: 0;
  padding: 0;
}

.tm-ser dd {
  margin-left: 50px;
  width: auto;
  float: none;
}

.tm-ser dd ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tm-ser dd ul li {
  display: inline-block;
  white-space: nowrap;
  padding-right: 20px;
  padding-bottom: 5px;
}

.tm-ser a {
  color: #666;
  text-decoration: none;
}


/*商品详情*/
.productDecription {
	width: 970px;
	margin: 20px auto;


}

.productDecription-menuList {
	height: 36px;
	background: #f5f5f5;
  border:1px solid #c1b8b8
}

.productDecription-menuList-item {
	float: left;
	width: 175px;
	height: 35px;
  line-height: 35px;
	background: #f5f5f5;
  text-align: center;
  border-right: 1px solid #c1b8b8;
  border-bottom: 1px solid #c1b8b8;
}

.productDecription-content {
	width: 750px;
	height: 1000px;
	margin: 50px auto;
	background: #f5f5f5;
  text-align: center;
  border: 1px solid #c1b8b8;
}

/*-------------product list----------*/

.table {
  text-align: center;
  vertical-align: middle;
}

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

/*-------------leading page----------*/

/*----- 首页加个大图 ----*/

.jumbotron {
  background-image:url('header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 50px;
  margin-top: -80px;


}


//- 修改文字对齐背景 ->

.title {
     background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
   max-width: 500px;//最大宽度
   margin-top: 100px;//和顶部拉开距离
   padding-top: 15px;
   padding-bottom: 15px;
   margin-bottom: 0;//这样就可以紧接息面的描述文字
   border-top-right-radius: 3px;//右上角圆边
   border-top-left-radius: 3px;//左上角圆边
   font-family: nerislight, "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
}

  .jumbotron h2, .jumbotron .h2 {
      text-align: left;//文字左对齐
      color: #222;  //字体颜色
      padding: 50px 20px 0;//上50px，左右20px，下0
  }

  .jumbotron p {
      margin: 0;//上下左右margin为0
      font-size: 20px;//字体大小
      max-width: 500px;//最大宽度
      background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
      //padding: 20px;//上下左右padding为20px
      text-align:left;//文字左对齐
      color: #4E342E;//字体颜色
      font-weight:bold;

      border-bottom-right-radius: 3px;//右下角圆边
      border-bottom-left-radius: 3px;//左下角圆边
  }

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 20px;//上下左右padding为20px
  text-align: center;
  //color: white;
  //top: 12px;

}

.slogan1 {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0 20px 50px 200px;
  //text-align: center;
  //color: white;
  //top: 12px;

}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
  padding: 5px 120px ;
}

//---------Content---------

 .content-section-a {
      padding: 10px 0;
       background-color: #eaf8ff;
      border: 2px solid #43A047;
  }

  .content-section-b {
      padding: 50px 0;
      // border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
  }

  .section-heading-spacer {
      //float: left;
      text-align: center;
      width: cover;
      border-top: 2px solid #e7e7e7;
      margin-top: 5px
  }

  .section-heading-spacer-a {
      //float: left;
      text-align: center;
      width: 140px;
      border-top: 2px solid #43A047;
      margin-top: 5px
  }

  .section-heading-a{
      // text-align:center;
      // color: #008cba;//字体颜色
      // font-size: 20px;//字体大小
      // margin-bottom: 30px;
      // margin-top: 30px;
      line-height:150% ;
      margin: 20px 10px ;
      text-align: center;
      top: 5px;
      font-family: nerislight, "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
      font-size: 16px;
      font-weight:bold ;
      letter-spacing:2px ;

  }
  .section-heading {
      // text-align:center;
       color: #008cba;//字体颜色
      font-size: 20px;//字体大小
      // margin-bottom: 30px;
      // margin-top: 30px;
      margin: 50px 10px 20px ;
      text-align: center;
      top: 5px;
      font-family: nerislight, "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
      // font-size: 16px;
  }
  .lead {
      font-size: 18px;
      font-weight: 400;
  }






//--navabar ->




  @media (min-width: 786px) {
    .navbar {
      border-radius: 0; //圆角为0
    }
  }











//--让大图满屏显示 ->

  .container-fluid .jumbotron{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: -20px -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

//--替换按钮颜色->

  .btn-danger {
    color: #fff;//字体颜色

    background-color: #9E9D24;//背景颜色

    border-color: #9E9D24;//边框颜色

}

.btn-danger:hover {
    background-color: #f79f11;//鼠标放置在btn上的背景颜色

    border-color: #f79f11;//鼠标放置在btn上的边框颜色

}

//--修改按钮大小 ->
  .btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 3px;//btn圆角
    width: 200px;//这里用指定宽度把btn拉得更长
}


//--设置登录弹窗 ->

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
padding: 30px;
max-width: 350px;
width: 100% !important;
background-color: #F7F7F7;
margin: 0 auto;
border-radius: 2px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
overflow: hidden;
font-family: roboto;
}

.loginmodal-container h1 {
text-align: center;
font-size: 1.8em;
font-family: roboto;
}

.loginmodal-container input[type=submit] {
width: 100%;
display: block;
margin-bottom: 10px;
position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
height: 44px;
font-size: 16px;
width: 100%;
margin-bottom: 10px;
-webkit-appearance: none;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
/* border-radius: 2px; */
padding: 0 8px;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
border: 1px solid #b9b9b9;
border-top: 1px solid #a0a0a0;
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
text-align: center;
font-size: 14px;
font-family: 'Elliot', 宋体, 华文细黑, STXihei, sans-serif;
font-weight: 700;
height: 36px;
padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
user-select: none; */
}

.loginmodal-submit {
/* border: 1px solid #3079ed; */
border: 0px;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1);
background-color: #4d90fe;
padding: 17px 0px;
font-family: roboto;
font-size: 14px;
/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
/* border: 1px solid #2f5bb7; */
border: 0px;
text-shadow: 0 1px rgba(0,0,0,0.3);
background-color: #357ae8;
/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
text-decoration: none;
color: #666;
font-weight: 400;
text-align: center;
display: inline-block;
opacity: 0.6;
transition: opacity ease 0.5s;
}

.login-help{
font-size: 12px;
}


//- 增加三张图片 ->

.caption {
margin: 10px;
text-align: center;
top: 5px;
font-family: nerislight, "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
font-size: 16px;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin-top: 10px;

}

.thumbnail-a{
  border: 0 none;
  box-shadow: none;
  margin-top: 0;
  // padding-top: -20px ;
  // text-align: center;
}

.content-section-b {
    padding: 15px ;
    background-color: #edece8;

}


@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}




//=====langding page=====//

// body {
//   overflow-x: hidden; //裁切页面内容，超出视窗不显示
//   letter-spacing: 1px; //文字间距
//   font-size: 14px; //文字大小
//   position: relative; //设定为相对位置
//
//   a {
//     text-decoration:none !important; //文字连结移除底线
//   }

  /*===== 基础栏位设定 ======*/
  .width-25 {
    width: 25%;
  }

  .width-50 {
    width: 50%;
  }

  .width-75 {
    width: 75%;
  }

  .width-100 {
    width: 100%;
  }


/*===== 首页通用设置 =====*/
.welcome-box {
  /* 副标题 */
  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  /* 短分隔线 */
.short-line {
  background: #0070DE;
  margin: 15px auto 30px auto;
  width: 150px;
  height: 1.5px;
}

/* 按钮 */
.btn-push {
  background-color: transparent;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); //半透明背景
  padding: 10px 20px;
  font-size: 20px;

  /* 显示特效 */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* 按钮-鼠标滑动效果 */
.btn-push:hover {
  background-color: #0070DE;
  border-color: #0070DE;
}
}

/*===== Intro 首页-广告轮播 =====*/
.intro-box {
/*===== 轮播内容 =====*/
.item {
  /* 标题 */
  h3 {
    margin-top: -40%; //标题高度
    font-size: 50px; //文字大小
    letter-spacing: 5px; //文字间距
  }

  /* 内文 */
  p {
    font-size: 20px;
  }

  /* 图片 */
  img {
    width: 100%;
  }
}

/*===== 换页按钮 =====*/
.carousel-control {
  span {
    margin-top: 145%; //按钮高度
    font-size: 50px; //按钮大小
  }
}
}

/*===== Story 首页-品牌故事 =====*/
.story-box {
  /* 区块 */
  background-color: #fff;
  text-align: center;
  padding: 25px 62.5px 50px 62.5px; //区块间隔

  /* 标题 */
  h3 {
    font-size: 20px;
    text-align: left;
  }

  /* 内文 */
  p {
    color: #333;
    line-height: 24px;
    text-align: justify;
  }

  /* 图片 */
  img {
    width: 150px;
    border-radius: 50%;
  }

  /* 分隔线 */
  hr {
    height: 1.5px;
    background-color: #666;
  }
}

/*===== Service 首页-服务优势 =====*/
.service-box {
  /* 区块 */
  background-color: #f8f8f8;
  text-align: center;
  padding: 25px 62.5px 50px 62.5px; //区块间隔

  /* 图片 */
  img {
    width: 100px;
  }

  /*===== 内容区块 =====*/
  .box {
    margin: 0 25px 0 25px;

    /* 标题 */
    h3 {
      font-size: 18px;
    }

    /* 内文 */
    p {
      color: #666;
      line-height: 24px;
      margin-top: 25px;
      text-align: justify;
    }
  }
}

/*===== Show 首页-推荐商品 =====*/
.show-box {
  /* 区块 */
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 0 50px 0;

  /* 图片 */
  img {
    width: 100%;
  }

  /* 图片区块 */
  .box {
    margin-top: 15px;
    box-shadow: 2px 2px 5px #888;
  }

  /* 图片区块-鼠标滑动效果 */
  .box:hover {
    opacity: 0.6;
  }

  /* 文字区块 */
  .content {
    margin-top: 15px;
    color: #000;
  }

  /*===== Feedback 首页-用户反馈 =====*/
.feedback-box {
  /* 区块 */
  background-color: #fff;
  text-align: center;
  padding: 50px 0 125px 0;

  /* 标题 */
  strong {
    margin-top: 25px;
    color: #4A6BB5;
  }

  /* 图片 */
  img {
    width: 80px;
    margin: 0 auto 25px auto;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  /* 文字 */
  p {
    color: #666;
    max-width: 550px;
    margin: 0 auto 25px auto;
  }

  /* 按钮设置 */
  .carousel-indicators {
    bottom: -70px; //按钮位置

    /* 按钮 */
    li {
      background-color: #ddd;
      height: 12.5px;
      width: 12.5px;
      margin: 0 5px;
      border-radius: 0;

      /* 按钮转向45度 */
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    /* 按钮-启动效果 */
    li.active {
      background-color: #4A6BB5;
    }
  }
}

/*===== Brands 首页-合作伙伴 =====*/
.brand-box {
  /* 区块 */
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 0 50px 0;

  /* 图片 */
  img {
    margin: 10px 15px 10px 15px;
    width: 150px;
  }
}

/*===== Push 首页-立即购买 =====*/
.push-box {
  /* 区块 */
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: image_url("start.jpg") no-repeat scroll top center/ cover; //背景图片
  }
}
