<footer class="text-center navbar-fixed-bottom">
  <p>
    <span>关于我们</span>
    <span>&nbsp;|&nbsp</span>
    <span>帮助中心</span>
    <span>&nbsp;|&nbsp</span>
    <span>开放平台</span>
    <span>&nbsp;|&nbsp</span>
    <span>联系我们</span>
    <span>&nbsp;|&nbsp</span>
    <span>网站合作</span>
    <span>&nbsp;|&nbsp</span>
    <span>友情链接</span>

  </P>
  <p>Copyright ©2017 JDStore
      <br>Design by liyangbin & baixulinpei
  </p>
</footer>
